.goods {
  width: 100%;
  height: 100vh;
  display: flex; // 追加
  flex-direction: column; // 縦方向のレイアウトにする

  .navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(63, 63, 63);
    color: white;
    flex-shrink: 0; // 高さが潰れないようにする

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 100px;

      ul {
        display: flex;
        gap: 20px;

        li {
          list-style: none;
          cursor: pointer;
          font-weight: 600;
          font-size: 20px;
          padding: 9px;

          .no-deco {
            text-decoration: none;
            color: inherit;
          }

          &:hover {
            border-radius: 3px;
            background-color: rgb(255, 255, 255);
            color: rgb(63, 63, 63);
          }
        }
      }
    }

    .auth {
      display: flex;
      align-items: center;
      justify-content: center;

      .cartIcon {
        display: flex;
        margin-right: 10px;
        position: relative; // 相対位置に設定

        .Icon {
          width: 50px;
          font-size: 30px;
        }

        p {
          position: absolute; // 絶対位置で配置
          top: -5px; // アイコンの上に配置
          right: 1px; // アイコンの右に配置
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: orange;
          color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px; // 数字を小さくする
        }
      }
    }
  }

  .itemList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
    flex-grow: 1; // これで残りのスペースをすべて埋める
    overflow-y: auto; // auto にすると、スクロールが必要な時だけ表示される
  }

  .totalprice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-top: 20px;

    h4 {
      margin-right: 10px;
    }

    p {
      margin: 0;
      font-size: 20px;
    }

    .currency {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-right: 5px;
    }

    .amount {
      font-size: 32px;
      color: #ff6a00; /* オレンジで強調 */
      margin-right: 5px;
    }

    .yen {
      font-size: 18px;
      color: #ff6a00;
    }
  }
}
